

Estimated time needed: **60** minutes.

## Introduction


1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones.

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage.

Therefore if we can determine if the first stage will land, we can determine the cost of a launch.

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

In [1]:
!pip install sqlalchemy==1.3.9
!pip install ibm_db_sa
!pip install ipython-sql

Requirement already satisfied: sqlalchemy==1.3.9 in c:\users\cnwokocha.softalliance\appdata\local\programs\python\python39\lib\site-packages (1.3.9)
Requirement already satisfied: ibm_db_sa in c:\users\cnwokocha.softalliance\appdata\local\programs\python\python39\lib\site-packages (0.3.7)
Requirement already satisfied: sqlalchemy>=0.7.3 in c:\users\cnwokocha.softalliance\appdata\local\programs\python\python39\lib\site-packages (from ibm_db_sa) (1.3.9)
Requirement already satisfied: ibm_db>=2.0.0 in c:\users\cnwokocha.softalliance\appdata\local\programs\python\python39\lib\site-packages (from ibm_db_sa) (3.1.0)
Collecting ipython-sql
  Downloading ipython_sql-0.4.0-py3-none-any.whl (19 kB)
Collecting prettytable<1
  Downloading prettytable-0.7.2.zip (28 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: six in c:\users\cnwokocha.softalliance\appdata\local\programs\python\python39\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\cnwokocha.softalliance\appdata\local\programs\python\python39\lib\site-packages (from ipython-sql) (0.2.0)
Collecting sqlparse
  Downloading sqlparse-0.4.2-py3-none-any.whl (42 kB)
Requirement already satisfied: ipython>=1.0 in c:\users\cnwokocha.softalliance\appdata\local\programs\python\python39\lib\site-packages (from ipython-sql) (7.28.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\cnwokocha.softalliance\appdata\local\programs\python\python39\lib\site-packages (from ipython-sql) (1.3.9)
Requirement already satisfied: backcall in c:\users\cnwokocha.softalliance\appdata\local\programs\python\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in c:\users\cnwokocha.softalliance\appdata\local\programs\python\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (56.0.0)
Requirement already satisfied: pickleshare in c:\users\cnwokocha.softalliance\appdata\local\programs\python\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: decorator in c:\users\cnwokocha.softalliance\appdata\local\programs\python\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: matplotlib-inline in c:\users\cnwokocha.softalliance\appdata\local\programs\python\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.3)
Requirement already satisfied: traitlets>=4.2 in c:\users\cnwokocha.softalliance\appdata\local\programs\python\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: jedi>=0.16 in c:\users\cnwokocha.softalliance\appdata\local\programs\python\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.0)
Requirement already satisfied: colorama in c:\users\cnwokocha.softalliance\appdata\local\programs\python\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: pygments in c:\users\cnwokocha.softalliance\appdata\local\programs\python\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (2.10.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\cnwokocha.softalliance\appdata\local\programs\python\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\cnwokocha.softalliance\appdata\local\programs\python\python39\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.2)
Requirement already satisfied: wcwidth in c:\users\cnwokocha.softalliance\appdata\local\programs\python\python39\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Using legacy 'setup.py install' for prettytable, since package 'wheel' is not installed.
Installing collected packages: sqlparse, prettytable, ipython-sql
    Running setup.py install for prettytable: started
    Running setup.py install for prettytable: finished with status 'done'
Successfully installed ipython-sql-0.4.0 prettytable-0.7.2 sqlparse-0.4.2

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [1]:
%load_ext sql



### Task 1

##### Display the names of the unique launch sites  in the space mission

In [10]:
%sql select distinct LAUNCH_SITE from SPACEXTBL

 * ibm_db_sa://chy61233:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/BLUDB
Done.

[('CCAFS LC-40',), ('CCAFS SLC-40',), ('KSC LC-39A',), ('VAFB SLC-4E',)]

### Task 2

##### Display 5 records where launch sites begin with the string 'CCA'

In [12]:
%sql select * from SPACEXTBL where LAUNCH_SITE like 'CCA%' limit 5

 * ibm_db_sa://chy61233:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/BLUDB
Done.

[(datetime.date(2010, 6, 4), datetime.time(18, 45), 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 (datetime.date(2010, 12, 8), datetime.time(15, 43), 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 (datetime.date(2012, 5, 22), datetime.time(7, 44), 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 (datetime.date(2012, 10, 8), datetime.time(0, 35), 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 (datetime.date(2013, 3, 1), datetime.time(15, 10), 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

### Task 3

##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [13]:
%sql select SUM(PAYLOAD_MASS__KG_) from SPACEXTBL where CUSTOMER = 'NASA (CRS)'

 * ibm_db_sa://chy61233:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/BLUDB
Done.

[(45596,)]

### Task 4

##### Display average payload mass carried by booster version F9 v1.1

In [14]:
%sql select AVG(PAYLOAD_MASS__KG_) from SPACEXTBL where booster_version like 'F9 v1.1%'

 * ibm_db_sa://chy61233:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/BLUDB
Done.

[(2534,)]

### Task 5

##### List the date when the first successful landing outcome in ground pad was acheived.

*Hint:Use min function*

In [16]:
%sql select MIN(DATE) from SPACEXTBL where LANDING__OUTCOME = 'Success (ground pad)'

 * ibm_db_sa://chy61233:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/BLUDB
Done.

[(datetime.date(2015, 12, 22),)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [11]:
%sql select BOOSTER_VERSION, PAYLOAD_MASS__KG_ from SPACEXTBL where LANDING__OUTCOME = 'Success (drone ship)' AND \
            PAYLOAD_MASS__KG_ BETWEEN 4000 AND 6000

 * ibm_db_sa://chy61233:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/BLUDB
Done.

[('F9 FT B1022', 4696),
 ('F9 FT B1026', 4600),
 ('F9 FT  B1021.2', 5300),
 ('F9 FT  B1031.2', 5200)]

### Task 7

##### List the total number of successful and failure mission outcomes

In [25]:
%sql SELECT * FROM (SELECT Count(Mission_Outcome) AS Success FROM SPACEXTBL WHERE Mission_Outcome LIKE '%Success%'), \
(SELECT Count( Mission_Outcome) AS Failure FROM SPACEXTBL WHERE Mission_Outcome LIKE '%Failure%' )

 * ibm_db_sa://chy61233:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/BLUDB
Done.

[(100, 1)]

### Task 8

##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [29]:
%sql SELECT Booster_Version AS Booster_ve FROM SPACEXTBL WHERE PAYLOAD_MASS__KG_ IN \
(SELECT MAX(PAYLOAD_MASS__KG_) FROM SPACEXTBL)

 * ibm_db_sa://chy61233:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/BLUDB
Done.

[('F9 B5 B1048.4',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1060.2',),
 ('F9 B5 B1058.3',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5 B1049.7',)]

### Task 9

##### List the failed landing_outcomes in drone ship, their booster versions, and launch site names for in year 2015

In [45]:
%sql SELECT landing__outcome, booster_version, launch_site \
FROM SPACEXTBL WHERE landing__outcome LIKE 'Failure (drone ship)' AND DATE LIKE '2015%'

 * ibm_db_sa://chy61233:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/BLUDB
Done.

[('Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40'),
 ('Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40')]

### Task 10

##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order

In [49]:
%sql SELECT landing__outcome, count(landing__outcome) AS countl FROM SPACEXTBL \
WHERE DATE BETWEEN '2010-06-04' AND '2017-03-20' \
GROUP BY landing__outcome ORDER BY countl DESC

 * ibm_db_sa://chy61233:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/BLUDB
Done.

[('No attempt', 10),
 ('Failure (drone ship)', 5),
 ('Success (drone ship)', 5),
 ('Controlled (ocean)', 3),
 ('Success (ground pad)', 3),
 ('Failure (parachute)', 2),
 ('Uncontrolled (ocean)', 2),
 ('Precluded (drone ship)', 1)]

## Thank You!